@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');



*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    background-color:rgb(28, 184, 231);
    justify-content: center;
    text-transform: uppercase;
}

.heart{
    font-size:2rem;
    position: fixed;
    top: -15vh;
    transform: translateY(0);
    animation: fall 3s linear;


}

.coders{
    font-size:2rem;
    position: fixed;
    top: -15vh;
    transform: translateY(0);
    animation: fall 3s linear;

}




@keyframes fall {
    to{
        transform: translateY(105vh);
    }
}

